h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.login-form {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 4px;
    background: #F2F2F2;
}

.login-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form__error {
    margin: 0;
    color: #f00;
}

.register-link {
    margin: 30px auto;
    text-align: center;
    font-size: 14px;
}

.register-link p {
    margin: 0;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:640px) {
    .login-form {
        width: 70%;
    }

    .register-link {
        width: 70%;
    }
}
